*{
    background-color: tan;
}

.hide {
    display: none;
}

/* NavBar */
header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 84, 41);
    text-align: center;
}

#header{
    font-size: xx-large;
    font-weight: bold;
    color: white;
    background-color: rgb(41, 84, 41);
    text-align: center;
}

nav{
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 84, 41);
    align-items: center;
}

nav a {
    background-color: rgb(41, 84, 41);
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-right: 15px;
}

nav a:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.2);
    text-decoration: underline;
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

#logo{
    height: 75px;
    width: 75px;
    background-color: rgb(41, 84, 41);
    padding-left: 20px;
}

/* Main Section */

main{
    min-height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

/* }
#nat-parks{
    display: flex;
    width: 600px;
    justify-content: flex-start;
    align-items: center;
}
select option{
    width: 100px;
}
*/
form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
    width: 200px;
    margin-top: 20px;
} 